<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">  
    
   <aop:config>  
        <aop:aspect id="TestAspect" ref="aspectBean">  
           <!-- 配置com.spring.service包下所有类或接口的所有方法  -->  
            <aop:pointcut id="busiPointCut" expression="execution(* spring通知顺序.*.*(..))" />  
            
            <aop:before pointcut-ref="busiPointCut" method="doBefore"/>  
            
            <aop:after pointcut-ref="busiPointCut" method="doAfter"/>  
            
            <aop:around pointcut-ref="busiPointCut" method="doAround"/> 
            
            <aop:after-returning pointcut-ref="busiPointCut" method="afterReturn"/>
            
            <aop:after-throwing pointcut-ref="busiPointCut" method="doThrowing" throwing="ex"/>  
            
        </aop:aspect>  
    </aop:config>  
      
    <bean id="aspectBean" class="spring通知顺序.MyAspect" />  
    <bean id="aService" class="spring通知顺序.AServiceImpl"></bean>  
    <bean id="bService" class="spring通知顺序.BServiceImpl"></bean>  
</beans>  